* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Muli', sans-serif;
}
h1, h3 {
    text-align: center;
}
header {
    position: fixed;
    width: 100%;
    background-image: linear-gradient( to right,#fffdc1,#fffdc4 15%, #fffdc9 15%,
      #fffdca 85%,
      #fffdcf 85%
    );
    z-index: 2;
}
.dataWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: flex-start;    
}
.card {
    width: 80%;
    margin: auto;   
}
main {
    position: relative;
    background-image: url("./images/world.png");
    background-repeat: repeat;
   /* background-position: center;*/
    top: 98px;
    z-index: 1;
    padding-bottom: 15px;
}
.navMenu {
    display: flex;
    justify-content: space-between;
    padding: 24px;
}
.menuToggle {
    visibility: hidden; 
}
i.fas.fa-bars, i.far.fa-window-close{   
    font-size: 1.5rem;
}
.countryCard {
    width: 340px;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid palevioletred;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #ee7474;
}
.countryCard p {
    padding: 18px 0;
    text-align: center;
    text-decoration: underline;
}