@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    cursor: pointer;
    user-select: none;
}
body {
    font-family: 'Muli', sans-serif;
}
.toggleOverflow {
    overflow: hidden;
}
h1, h3 {
    text-align: center;
}
h1:hover {
    animation: slideOutRight;
    animation-duration: 2s;
}
header {
    position: fixed;
    width: 100%; 
    z-index: 3;
}
.shareOnWeb {
   /* display: inline-block; */
}
.countryFacts1 {
    width: 340px;
    margin: auto;
}
.dataWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   
}
.card {
    width: 80%;
    margin: auto;   
}
main {
    position: relative;  
   top: 90px; 
    z-index: 2;
    padding-bottom: 15px;
    padding-top: 50px;
}
.navMenu {
    display: flex;
    justify-content: space-between;
    padding: 24px;
}
.navMenu img:hover {
    animation: rotateOut 1s;
    border-radius: 50%;
    background: red;
}
.menuToggle {
    visibility: hidden; 
}
.modalAnimation {
    animation: fadeInLeft 1s;
}
.menu {
    position: relative;
    top: 10px;
}

i.far.fa-window-close {
    position: absolute;
    left: 0;
}
i.fas.fa-bars, i.far.fa-window-close{   
    font-size: 1.5rem;
}
.countryCard {
    width: 340px;
    margin: 20px auto;
    padding: 15px;
    background-color: white;
   text-align: center;
    border-radius: 10px;   
}
.countryName {
    color: red;
    font-weight: 800;
    text-decoration: underline;
    margin-bottom: 10px;
}
.countryCard p {
    padding: 18px 0;
    text-align: center;
    text-decoration: underline;
}
.countryCard span {
    color: green
}
h3.dateTaken {
    padding-bottom: 10px;
}
.dataWrapper .card {
    width: 90%;    
    margin: 10px auto;
}

.modal {
    position: absolute;
    width: 90%;
    animation: fadeIn;
    animation-duration: 4s;
}
.modal ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    /* margin: auto; */
    margin-top: 70px;
    margin-left: 40px;
    padding-bottom: 30px;
    flex-direction: column;
  /*  background-color:  #d8c9d3;*/
    border-radius: 10px;
}
li {
    list-style: none;
    margin-bottom: 20px;
}
li:hover {           
        border-bottom: 2px solid black;   
}
.backToMain li:hover {
    border-bottom: none;
}

.countryState {
    display: flex;
    flex-wrap: wrap;
}
header label {
    text-align: center;
    display: grid;
}
#countrySearch {
    margin: auto;
}
.countryLabel {
    display: block;
    text-align: center;
}
button.btn {
    display: block;
    background: #73b9d6;
    width: 160px;
    padding: 7px;
    font-size: 1.3rem;
    margin: 15px auto;
    border-radius: 5px;  
}
section {
    margin-top: 0px; 
    margin-top: 0px;
position: relative;
top: -40px;
}
.modalMyth{
    display: flex;
    flex-wrap: wrap;    
}

.modalMyth img {
    
        width: 340px;
        margin: 20px auto;       
    
}

.dataError {
    color: #513636;
    font-weight: 900;
}

.btnTop {    
        margin: auto;
        display: block;    
}

/*about page styling  */
.description {
    width: 90%;
    margin: auto;
}

.description p {
    padding-left: 30px;
}

.modalCountry {
    position: absolute;
    top: 5px;
    visibility: hidden;
    width: 100%;   
    margin: auto;
    left: 0%;   
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.modalCountryOpen {
    visibility: visible;
    animation: fadeIn;
    animation-duration: 2s;
}
video {
    width: max(250px, 50%);
}
/* end about page styling */

/*summary animation */
details[open] ~ * {
  animation: fadeInLeft;
  animation-duration: 2s;
}

img.countryFlag {
    width: min(220px, 60%);
    display: block;
    margin: 15px auto;
}
/* demo.html*/

figcaption {
    width: 50%;
    text-align: center;
    margin: 25px auto;
}

@media screen and (min-width: 580px) {
    .shareOnWeb {
        display: none;
    }
    .modal ul {
        justify-content: space-around;
        flex-direction: row;
       /* padding: 8px 0;*/
        margin-top: 18px;
        margin-left: 20%;
    background-color: transparent;
    }
    .modal {
        visibility: visible;
        width: 100%;
    }
    .menu {
        visibility: hidden;
    }
    header label {        
        grid-template-columns: 1fr 1fr;
        align-items: center;
        /*justify-items: center;*/
    }
    label.searchBy {
        display: flex;
        justify-content: center;
        align-items: baseline;
    }
    .countryLabel {
        margin-right: 5px;
    }
    #countrySearch {
        margin: 0;
    }
    .description {
        width: 80%;       
    }
    .description p {
       padding-left: 50px;
    }
}

@media screen and (min-width: 980px) {
    .facts {
        display: flex;
    }
    .description {
        width: 60%;       
    }
    .modalCountry {        
        top: 10px;       
        width: 90%;       
        left: 5%;        
    }   
    .countryFacts1 {
        width: 50%;
        align-self
        : center;
    }   
    .caseStatistics {
        width: 50%;
        margin: auto;
    }
    img.countryFlag {
        height: 110px;        
    }
    /*demo.html */
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .maskDistance {
        grid-area: 2/1/2/3;        
    }
    .maskDistance img {
        margin: auto;
    }
    .masks {
        display: flex;
        align-items: center;        
    }

}

