@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    cursor: pointer;
}
body {
    font-family: 'Muli', sans-serif;
}
h1, h3 {
    text-align: center;
}
header {
    position: fixed;
    width: 100%; 
    z-index: 3;
}
.dataWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   
}
.card {
    width: 80%;
    margin: auto;   
}
main {
    position: relative;  
    top: 180px;
    z-index: 2;
    padding-bottom: 15px;
    padding-top: 50px;
}
.navMenu {
    display: flex;
    justify-content: space-between;
    padding: 24px;
}
.menuToggle {
    visibility: hidden; 
}
.menu {
    position: relative;
    top: 10px;
}

i.far.fa-window-close {
    position: absolute;
    left: 0;
}
i.fas.fa-bars, i.far.fa-window-close{   
    font-size: 1.5rem;
}
.countryCard {
    width: 340px;
    margin: 20px auto;
    padding: 15px;
    background-color: white;
   text-align: center;
    border-radius: 10px;   
}
.countryName {
    color: red;
    font-weight: 800;
    text-decoration: underline;
    margin-bottom: 10px;
}
.countryCard p {
    padding: 18px 0;
    text-align: center;
    text-decoration: underline;
}
.countryCard span {
    color: green
}
h3.dateTaken {
    padding-bottom: 10px;
}
.dataWrapper .card {
    width: 90%;    
    margin: 10px auto;
}

.modal {
    position: absolute;
    width: 90%;
}
.modal ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    /* margin: auto; */
    margin-top: 70px;
    margin-left: 40px;
    padding-bottom: 30px;
    flex-direction: column;
  /*  background-color:  #d8c9d3;*/
    border-radius: 10px;
}
li {
    list-style: none;
    margin-bottom: 20px;
}
li:hover {           
        border-bottom: 2px solid black;   
}

.countryState {
    display: flex;
    flex-wrap: wrap;
}
header label {
    text-align: center;
    display: grid;
}
countrySearch {
    padding: 5px;
}
button.btn {
    display: block;
    background: #73b9d6;
    width: 120px;
    padding: 7px;
    font-size: 1.3rem;
    margin: 15px 0;
    border-radius: 5px;  
}
section {
    margin-top: 180px; 
}
.modalMyth{
    display: flex;
    flex-wrap: wrap;    
}

.modalMyth img {
    
        width: 340px;
        margin: 20px auto;
       /* padding: 15px;
        background-color: white;
        text-align: center;
        border-radius: 10px;*/
    
}

.dataError {
    color: red;
}

.modalMythOpen {
    /*z-index: 4;
    visibility: visible;*/
}

@media screen and (min-width: 580px) {
    .modal ul {
        justify-content: space-around;
        flex-direction: row;
        padding: 8px 0;
        margin-top: 18px;
        margin-left: 100px;
    background-color: transparent;
    }
    .modal {
        visibility: visible;
    }
    .menu {
        visibility: hidden;
    }
    header label {        
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
    }
}

